# Ignore tracking the following type of files:                                                                      
*.[oa]
*~
*.log
*.swp
*.cache
*.db
*.gz
*.tar.gz
*.tar.bz2
*.zip

# Some type of temp files
*.tmp
*.old
*.new

